// Mukurtu Footer.

.footer {
  @include layout--full-width-grid;

  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);

  .region {
    grid-column: 1 / -1;

    @include media('>=2xl') {
      grid-column: 2 / -2;
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    gap: var(--v-space-2xs);
    align-items: baseline;
    justify-content: center;
    margin-block-end: var(--v-space-s);
  }

  .logo {
    flex: 0 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      max-height: 150px;
    }
  }

  // @TODO: when form fields are updated to links, put icons as 
  // pseudoelements on a tags.

  .twitter,
  .facebook,
  .instagram {
    display: flex;
    align-items: center;
  }

  .twitter {
    &::before {
      content: url("../images/twitter.svg");
    }
  }

  .facebook {
    &::before {
      content: url("../images/facebook.svg");
    }
  }

  .instagram {
    &::before {
      content: url("../images/instagram.svg");
    }
  }

  .icon {
    &::before {
      display: inline-block;
      vertical-align: middle;
      height: var(--v-space-3xs);
      margin-right: var(--v-space-6xs);
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: var(--v-space-2xs);
  }

  .email,
  .copyright-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-end: var(--v-space-2xs);
  }

  .email {
    margin-block-end: var(--v-space-3xs);

    a {
      color: var(--footer-text-color);
      text-decoration-color: var(--footer-text-color);
      text-decoration-thickness: 1px;

      &::before {
        content: url("../images/email_icon.svg");
        display: inline-block;
        vertical-align: middle;
        margin-inline-end: var(--v-space-6xs);
      }

      &:hover {
        color: var(--footer-text-color);
        text-decoration-color: var(--color-transparent);
      }
    }
  }
}