@use "../../../external/include-media";
@use "../../00-base/layout/layout";

// Mukurtu Footer.

.footer {
  margin-block-start: var(--v-space-l);
  padding-block-start: var(--v-space-xs);
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);

  @include layout.layout--full-width-grid;

  .region {
    grid-column: 1 / -1;

    @include include-media.media('>=2xl') {
      grid-column: 2 / -2;
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    gap: var(--v-space-2xs);
    align-items: baseline;
    justify-content: center;
    margin-block-end: var(--v-space-s);
  }

  .logo {
    flex: 0 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      inline-size: auto;
      max-block-size: 150px;
    }
  }

  // @TODO: when form fields are updated to links, put icons as
  // pseudoelements on a tags.

  .twitter,
  .facebook,
  .instagram {
    display: flex;
    align-items: center;
    gap: 1ch;

    svg {
      block-size: 1.5rem;
    }
  }

  .socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-block-end: var(--v-space-2xs);

    a {
      color: var(--footer-text-color);
      text-decoration-color: currentColor;
      text-decoration-thickness: 1px;

      &:hover {
        text-decoration-color: var(--color-transparent);
      }
    }
  }

  .socials__accounts {
    margin-block-start: var(--v-space-5xs);
  }

  .email,
  .copyright-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-end: var(--v-space-2xs);
  }

  .email {
    margin-block-end: var(--v-space-s);

    a {
      color: var(--footer-text-color);
      text-decoration-color: var(--footer-text-color);
      text-decoration-thickness: 1px;

      &:hover {
        color: var(--footer-text-color);
        text-decoration-color: var(--color-transparent);
      }
    }
  }
}
