// Override focus styles coming from field group module for tab focus to be clear.

// Ideally the module would be updated to use <button> instead of <a>.
.horizontal-tabs ul.horizontal-tabs-list {
  a {
    &:focus {
      outline: 4px solid var(--focus-color);
    }
  }

  li:not(.selected) {
    a {
      &:active,
      &:focus {
        background-color: var(--color-white);
      }
    }
  }
}

svg.ext,
svg.mailto,
svg.tel  {
  inline-size: 1.25rem;
  block-size: 1rem;
  fill: var(--brand-primary-dark);
}

a:not(.primary-nav__menu-link) {
  svg.ext path,
  svg.mailto path,
  svg.tel path {
    stroke: var(--brand-primary-dark);
  }
}

.mukurtu-footer a {
  svg.ext path,
  svg.mailto path,
  svg.tel path {
    stroke: var(--footer-text-color);
  }
}
