// Styles for individual media items as they appear on various nodes. 

// Digital Heritage content type, Main.
.media {
  &--audio {
    width: 100%;

    .b-lazy {
      height: revert;
      min-height: max-content;
      width: 100%;
    }
  }

  .field--name-field-media-audio-file {
    width: 100%;
  }
}

.media--image,
.media--document,
.media--audio,
.media--remote_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button {
    margin-block-start: var(--v-space-5xs);
  }
}

.media--remote_video {
  .field[data-blazy] {
    min-width: min-content;
    width: 100%;
  }
}
