{#
/**
 * @file
 * Default theme implementation to list vocabularies available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 *
 * @ingroup themeable
 */
#}

{% if types is not empty %}
  <dl>
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% trans %}
      You have not created any vocabularies yet.
    {% endtrans %}
  </p>
{% endif %}
