{#
/**
 * @file
 * Default theme implementation to display source summary facet item.
 *
 * Accepts suggestions as: facets-source-summary-facet--{facet_id}.
 *
 * Available variables:
 * - label: The label configured by the user.
 * - separator: The separator user to concatenate facet active items.
 * - items: An array of associative arrays, each having 2 keys: label, count.
 * - facet_id: The facet id.
 * - facet_admin_label: The facet administrative label.
 */
#}
<span class="source-summary-item source-summary-item-{{ facet_id | replace({"_": "-"}) }}">
{% if items %}
    {{ label }}: {{ items|safe_join(separator) }}
{% endif %}
</span>
