{#
/**
 * @file
 * Default theme implementation to display source summary 'no results' message.
 *
 * Available variables:
 * - message: A configurable formatted message to be shown when there are no
 *   results.
 */
#}
<span class="source-summary-empty">{{ message }}</span>
