parameters:
	ignoreErrors:
		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 4
			path: src/MigrateExecutable.php
