#mukurtu-map-browse-container {
  display: flex;
}

#mukurtu-map-browse-map {
  flex: 4;
  flex-grow: 6;
}

#mukurtu-map-browse-teasers {
  flex: 3;
  overflow: auto;
  height: 600px;
}

#mukurtu-map-browse-teasers article {
  flex-wrap: wrap;
  padding: 10px;
}

#mukurtu-map-browse-teasers article .map-browse-teaser-title {
  width: 100%;
}
