.node__content {
  display: flex;
  flex-wrap: wrap;
}

.node__content .item-content {
  flex-basis: 66%;
  flex-grow: 3;
  min-width: 66%;
}

.node__content .item-content .field {
  padding-right: 20px;
}

.node__content .metadata {
  flex-basis: 33%;
  max-width: 33%;
  background-color: #F0EEE9;
  border-top: 5px solid #D9D4C2;
}

.node__content .metadata .field {
  padding: 10px 20px 10px;
  margin: 0px;
}

.node__content .metadata .field::after {
  content: "";
  display: inline-block;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(70, 70, 70, 0.25);
}

article.node--view-mode-content-browser {
  display: block;
  max-width: 345px;
  max-height: 345px;
}

.field--type-entity-reference article.node--view-mode-content-browser {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #dbdbdb;
}

article.node--view-mode-content-browser header {
  z-index: 1;
  height: 100%;
  width: 345px;
}

article.node--view-mode-content-browser header h2 {
  margin: 0px
}

article.node--view-mode-content-browser .node__title {
  margin: 0px;
  background-color: #0071b3;
  padding: 10px;
}

article.node--view-mode-content-browser .node__title a {
  color: #ffffff;
}

article.node--view-mode-content-browser .field--name-field-representative-media {
  width: 100%;
}

article.node--view-mode-content-browser .field--name-field-representative-media .field--name-thumbnail {
  width: 100%;
}

article.node--view-mode-content-browser .field--name-field-representative-media img {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
