body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  border-bottom: none;
}

.page-title {
  text-align: center;
}

.field {
  padding-bottom: 10px;
}

.field .field__label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.field--name-field-banner-image .media.media--type-image.media--view-mode-full img {
  width: 100%;
}

.mukurtu-getting-started {
  border-radius: 25px;
  border: 2px solid #0071b3;
  padding: 10px;
  margin: 10px;
}

.notice {
  border-radius: 25px;
  border: 2px solid #0071b3;
  padding: 10px;
  margin: 10px;
}

.notices {
  margin-bottom: 20px;
}

.media-library-selection .media-library-item article {
  flex-direction: column;
}

.field--name-field-creative-commons .field__item p a {
  display: flex;
}

.field--name-field-creative-commons .field__item p a img {
  width: 30px;
  padding-left: 5px;
}

.inaccessible-reference {
  display: block;
  max-width: 345px;
  width: 345px;
  max-height: 345px;
}

.inaccessible-reference > div {
  padding: 20px;
  min-height: 280px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #dbdbdb;
}
