<div class="local-contexts-label-group">
  {% if project_title %}
    <div class="project-title">{{ project_title }}</div>
  {% endif %}
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>
