<div class="local-contexts-label-group">
  {% if project_title %}
    <h3 class="project-title">{{ project_title }}</h3>
  {% endif %}
  <div class="local-contexts-label-group-items">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
