// Images embedded with ckeditor from media library have a caption option.
figure,
figure.align-center {
  display: table;
  inline-size: fit-content;
  margin: 0;
  padding: 0;

  figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-block-start: var(--v-space-5xs);
    font-style: italic;
    line-height: var(--line-height-xs);
  }
}

figure.align-center,
.media.align-center {
  margin-block: var(--v-space-3xs);
  margin-inline: auto;
}

figure.align-left,
.media.align-left {
  margin-block: var(--v-space-4xxs) var(--v-space-4xxs);
  margin-inline: 0 var(--v-space-3xs);
}

figure.align-right,
.media.align-right {
  margin-block: var(--v-space-4xxs) var(--v-space-4xxs);
  margin-inline: var(--v-space-3xs) 0;
}
