@use "../../00-base/layout/layout";

// Individual word list pages.
.word-list {
  .field--name-field-description {
    margin-block-end: var(--v-space-s);

    @include layout.layout--full-width-grid-item;
  }

  .word-list__items__label {
    font-weight: var(--text-bold);
  }
}
