@use "../../00-base/layout/layout";

// Individual word list pages.
.word-list {
  .field--name-field-all-related-content > .field__items > .field__item:last-child .horizontal-card {
    border-block-end: none;
    padding-block-end: 0;
  }

  .field--name-field-words {
    padding-inline: 0;
    list-style: none;

    li {
      list-style: none;
    }
  }
}
