@use "../../00-base/layout/layout";

// Individual word list pages.
.word-list {
  .full-node__main {
    container-type: inline-size;
  }

  .field--name-field-all-related-content > .field__items > .field__item:last-child .horizontal-card {
    border-block-end: none;
    padding-block-end: 0;
  }

  .field--name-field-words {
    padding-inline: 0;
    display: grid;
    grid-template-columns: auto;
    gap: var(--gutter-m);

    @container (min-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      container-type: inline-size;
      list-style: none;
    }
  }
}
