@use "../../../external/include-media";
@use "../../00-base/layout/layout";
@use "../../00-base/mixins/mixins";

// Some full displays look very similar with main content
// and a right sidebar. These styles cover them all.
// As of 11/04/24, this encompasses Digital Heritage and Person.

.full-node__grid {
  @include layout.layout--full-width-grid;
}

.full-node {
  &__main {
    grid-column: 1 / span 6;

    @include include-media.media('>=lg') {
      grid-column: 1 / span 8;
    }

    @include include-media.media('>=2xl') {
      grid-column: 2 / span 8;
    }
  }

  &__content {
    // Ensure border is not duplicated on fields inside fields, fields inside media,
    // and nested paragraph.

    // :where() reduces specificity to 0 so these are more
    // easily overridden elsewhere if needed.
    .field:where(:not(.field--name-field-media-assets,
        .field--name-field-media-assets .field,
        .media .field,
        .field.field.field--name-field-word-entry,
        .field--name-field-sentence-recording,
        .field--name-field-sentence,
        .field--name-field-additional-word-entries,
        .field--name-field-word-entry-term + div.field,
        .dictionary-word-subheading + div.field,
        .field--name-title,
        .dictionary-word__teaser .field)) {
      @include mixins.divider;
    }

    .field--name-field-people,
    .field--name-field-location,
    .field--name-field-word-type,
    .field--name-field-contributor {
      .field__items {
        @include mixins.inline-list;
      }
    }

    // Visually hide the map label.
    .field--name-field-coverage {
      .field__label {
        @include mixins.visually-hidden;
      }
    }

    .field--name-field-recording {
      .field__item {
        margin-block: var(--v-space-4xxs);
        margin-inline: 0;
      }
    }

    .paragraph--type--sample-sentence {
      margin-block-end: var(--v-space-2xs);

      > div {
        margin-block-end: var(--v-space-4xxs);
      }
    }
  }

  &__related-content {
    .field--name-field-all-related-content {
      @include mixins.divider;
    }
  }

  &__citation {
    .field--name-field-citation {
      @include mixins.divider;
    }
  }

  &__comment {
    margin-block-start: var(--v-space-xs);
  }

  // Sidebar.
  &__list {
    grid-column: 1 / span 6;

    @include include-media.media('>=lg') {
      grid-column: 9 / span 4;
    }

    @include include-media.media('>=2xl') {
      grid-column: 10 / span 4;
    }
  }

  &__sidebar .sidebar-section {
    background-color: var(--brand-light-accent);
    border-block-start: 5px solid var(--brand-secondary);
    padding-inline: var(--v-space-4xs);
    padding-block: var(--v-space-4xxs) var(--v-space-s);
    margin-block-end: var(--v-space-4xs);

    .field {
      padding-block: var(--v-space-4xxs);
      border-block-end: 1px solid var(--brand-light);

      &__label {
        font-size: var(--font-size-s);
        line-height: var(--line-height-xs);
      }

      &__item {
        line-height: var(--line-height-s);
      }

      // If multiple items, show as comma-separated list.
      &__items:where(:not(.field--name-field-all-related-content .field__items)) {
        @include mixins.inline-list;
      }
    }

    .field--name-field-external-links {
      a {
        word-break: normal;
        overflow-wrap: anywhere;
      }
    }

    .field--name-field-creative-commons {
      a {
        display: block;
      }

      img {
        max-inline-size: var(--v-space-2xs);
      }

      .license-logos {
        display: flex;
        gap: var(--v-space-6xs);
        margin-block-start: var(--v-space-4xxs);
      }
    }

    .field--name-field-rights-statements {
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .tk-labels,
    .bc-labels {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--v-space-4xxs);
    }

    .name {
      line-height: var(--line-height-xs);
    }

    // Local Contexts Projects
    .local-contexts-project .tk-label,
    .local-contexts-project .bc-label,
    .local-contexts-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--v-space-4xxs);
      margin-block-start: var(--v-space-4xxs);

      // stylelint-disable-next-line no-descending-specificity
      .text {
        display: none;
      }
    }

    // Local Contexts Labels and Notices.
    .field--name-field-local-contexts-labels-and-notices {
      .field__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--v-space-4xxs);
      }
    }

    .field:last-of-type {
      padding-block-end: 0;
      border-block-end: none;
    }
  }
}
