// Some full displays look very similar with main content 
// and a right sidebar. These styles cover them all. 
// As of 11/04/24, this encompasses Digital Heritage and Person.

.full-node__grid {
  @include layout--full-width-grid;
}

.full-node {

  &__main {
    grid-column: 1 / span 6;

    @include media('>=lg') {
      grid-column: 1 / span 8;
    }

    @include media('>=2xl') {
      grid-column: 2 / span 8;
    }
  }

  &__content {
    // Ensure border is not duplicated on fields inside fields, fields inside media,
    // and nested paragraph.
    .field:not(.field--name-field-media-assets, 
    .field--name-field-media-assets .field, 
    .media .field, 
    .field.field.field--name-field-word-entry,
    .field--name-field-sentence-recording,
    .field--name-field-sentence) {
      @include divider;
    }

    .field--name-field-people,
    .field--name-field-location,
    .field--name-field-word-type,
    .field--name-field-contributor {
      .field__items {
        @include inline-list;
      }
    }

    // Visually hide the map label.
    .field--name-field-coverage {
      .field__label {
        @include visually-hidden;
      }
    }

    .field--name-field-recording {
      .field__item {
        margin: var(--v-space-4xxs) 0; 
      }
    }
    
    .paragraph--type--sample-sentence {
      margin: var(--v-space-2xs) 0;
      > div {
        margin: var(--v-space-4xxs) 0; 
      }
    }
  }

  &__related-content {
    .field--name-field-all-related-content {
      @include divider;
    }
  }

  &__citation {
    .field--name-field-citation {
      @include divider;
    }
  }

  // Sidebar.
  &__list {
    grid-column: 1 / span 6;

    @include media('>=lg') {
      grid-column: 9 / span 4;
    }

    @include media('>=2xl') {
      grid-column: 10 / span 4;
    }
  }

  &__sidebar .sidebar-section {
    background-color: var(--brand-light-accent);
    border-top: 5px solid var(--brand-secondary);
    padding-inline: var(--v-space-4xs);
    padding-block-start: var(--v-space-4xxs);
    padding-block-end: var(--v-space-s);
    margin-block-end: var(--v-space-4xs);

    .field {
      padding-block: var(--v-space-4xxs);
      border-bottom: 1px solid var(--brand-light);

      &__label {
        font-size: var(--font-size-s);
        line-height: var(--line-height-xs);
      }

      &__item {
        line-height: var(--line-height-s);
      }

      // If multiple items, show as comma-separated list.
      &__items {
        @include inline-list;
      }
    }

    .field--name-field-external-links {
      a {
        word-break: normal;
        overflow-wrap: anywhere;
      }
    }

    .field--name-field-creative-commons {
      a {
        display: block;
      }

      span {
        display: flex;
        gap: var(--v-space-6xs);
        margin-block: var(--v-space-4xxs);
      }

      img {
        max-width: var(--v-space-2xs);
      }
    }

    .field--name-field-rights-statements {
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .local-contexts-project .tk-label,
    .local-contexts-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--v-space-4xxs);
      margin-block-start: var(--v-space-4xxs);

      img {
        width: 50%;
      }

      .text {
        display: none;
      }
    }

    .field:last-of-type {
      padding-block-end: 0;
      border-bottom: none;
    }
  }
}
