.dashboard {
  @include layout--full-width-grid-item;

  display: flex;
  gap: var(--gutter);
  flex-flow: row wrap;
  inline-size: 100%;

  // Add elements to grid.
  &__layout-sidebar-first,
  &__menu,
  &__main-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    padding: var(--v-space-4xs);
    border: 1px solid var(--mukurtu-primary-field-divider-color);
  }
}
