<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="views_bulk_operations">
  <description>Default PHP CodeSniffer configuration for Views Bulk Operations.</description>

  <!-- Exclude the .ddev directory -->
  <exclude-pattern>**/.ddev/*</exclude-pattern>

  <arg name="extensions" value="php,inc,module,install,info,test,profile,theme"/>
  <config name="installed_paths" value="../../slevomat/coding-standard" />

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal">
    <!-- URLs in deprecation messages point to Github rather than drupal.org. -->
    <exclude name="Drupal.Semantics.FunctionTriggerError.TriggerErrorSeeUrlFormat" />
    <exclude name="Drupal.Commenting.Deprecated.DeprecatedWrongSeeUrlFormat" />
    <!-- Deprecation versions are allowed to include beta versions. -->
  </rule>

  <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice"/>

  <!-- Require the strict types declaration in every PHP file. -->
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
   <properties>
      <property name="linesCountBeforeDeclare" value="1" />
    </properties>
    <severity>5</severity>
  </rule>

  <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
    <include-pattern>*/tests/*</include-pattern>
    <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
    <include-pattern>*/tests/*</include-pattern>
    <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint"/>

</ruleset>
