@use "../../../external/include-media";
@use "../../00-base/layout/layout";
@use "../../00-base/mixins/mixins";

// Community browse page
.community-page-listing {
  @include layout.layout--full-width-grid;

  .communities {
    @include layout.layout--full-width-grid-item;
  }
}

// Communities block on landing pages.
.view-browse-by-community .community-page-browse {
  padding-inline: var(--layout-padding);

  @include include-media.media('>=lg') {
    padding-inline: var(--layout-padding-m);
  }
}

.communities {
  gap: var(--v-space-3xs);
  display: grid;
  grid-template-columns: 1fr;

  @include include-media.media('>=sm') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include include-media.media('>=lg') {
    @include layout.layout--fourcol-grid;
  }
}

.communities__item {
  position: relative;
  list-style-type: none;
  border: 1px solid var(--brand-light-accent);
  block-size: 19rem;
  background-color: white;

  & .field--name-name a {
    @include mixins.button-arrow;
  }

  .media--image {
    display: block;
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;

    img {
      inline-size: 100%;
      block-size: 19rem;
      object-fit: cover;
    }
  }
}


.community--browse--wrapper {
  .community-page-browse {
    padding-block-end: var(--v-space-s)
  }
}
