@use "../../../external/include-media";
@use "../../00-base/layout/layout";
@use "../../00-base/mixins/mixins";

.community-page-browse {
  @include layout.layout--full-width-grid;
}

.communities {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.875rem;
  padding-inline-start: 0;

  @include layout.layout--full-width-grid-item;

  @media screen and (width >= 26rem) {
     @include layout.layout--fourcol-grid;
  }
}

.communities__item {
  position: relative;
  list-style-type: none;
  border: 1px solid var(--brand-light-accent);
  block-size: 19rem;
  background-color: white;

  & .field--name-name a {
    @include mixins.button-arrow;
  }

  .media--image {
    display: block;
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;

    img {
      inline-size: 100%;
      block-size: 19rem;
      object-fit: cover;
    }
  }
}


.community--browse--wrapper {
  .community-page-browse {
    padding-block-end: var(--v-space-s)
  }
}
