.progress {
  &__bar {
    border-color: var(--gin-color-primary);
    background-color: var(--gin-color-primary);
    box-shadow: 0 .125em .25em var(--gin-color-primary-light),
                1.25em .9375em 2em var(--gin-color-primary-light);
  }

  &__track {
    padding: var(--gin-spacing-xs);
    border-color: var(--gin-border-color);
    background-color: var(--gin-bg-layer3);
  }

  &__description,
  &__percentage {
    color: var(--gin-color-text);
  }
}

// Autocomplete z-index issue
.ui-autocomplete {
  z-index: 2000;
}
