.mukurtu-content-warning {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: rgba(0 0 0 / 85%);
  text-align: center;
  vertical-align: middle;
}

.mukurtu-content-warning>div {
  visibility: hidden;
}

.mukurtu-content-warning-overlay-text.cleared {
  display: none;
}

.mukurtu-content-warning .mukurtu-content-warning-overlay {
  visibility: visible;
  text-align: center;
  position: relative;
  inset: 0;
  background-color: rgba(0 0 0 / 85%);
  color: white;
}

.mukurtu-content-warning .mukurtu-content-warning-overlay-text {
  visibility: visible;
  display: inline-block;
  vertical-align: middle;
  padding-block: 10px;
  padding-inline: 15px;
  position: relative;
  font-weight: bold;
}

/*
  todo I'm not sure how to adapt this to v4 yet, so I've commented it out for now.
  */

/* .atom-wrapper .field-name-field-deceased {
  padding-left: 20px;
} */
