.leaflet-popup-content {
  font-weight: 500;

  &:has(.vertical-card__media) {
    margin-block-start: var(--v-space-3xs);
  }

  & .vertical-card {
    margin-block-end: 0px;
  }

  & .vertical-card h2 {
    margin-block-start: 0;
  }

  & .vertical-card__media + :where(.vertical-card__content h2) {
    margin-block-start: var(--v-space-4xs);
  }

  & .field--name-field-media-video-file {
    display: flex;
    justify-content: center;
  }

  & video,
  & .media-oembed-content {
    inline-size: 100%;
    block-size: 100%;
    background-color: black;
  }

  & .vertical-card__eyebrow {
    display: none;
  }
}

.leaflet-container a.leaflet-popup-close-button {
  top: 0.125rem;
  right: 0.125rem;
}

.leaflet-control-layers {
  /* TODO remove when this can be disabled in Drupal. */
  display: none;
}

.path-browse .vertical-card__eyebrow {
  display: block;
  margin-block: var(--v-space-4xs) 0;
}

.path-browse .vertical-card__eyebrow + h2 {
  margin-block-start: 0.25em;
}
