{% if maplink %}
  {{ maplink }}
{% endif %}

<div class="md:tw-flex md:tw-flex-row tw-p-1">
 {% if facets %}
  <div class="md:tw-order-last md:tw-basis-1/3 md:tw-w-1/3 md:tw-shrink tw-p-4">
    {% for facet in facets %}
      {{ facet }}
    {% endfor %}
  </div>
  {% endif %}

  <div class="md:tw-basis-2/3 md:tw-w-2/3 md:tw-grow md:tw-flex-grow tw-p-4">
   {{ results }}
  </div>

</div>
