@use '../mixins/mixins';

// Base HTML elements.
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  // Used for smoother scrolling by back-top.
  scroll-behavior: smooth;

  // Disable horizontal scrolling.
  overflow-x: hidden;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: initial;
  }
}

body {
  margin: 0;
  color: var(--brand-text-color);
  font-size: var(--font-size-base);
  font-family: var(--font-display-face);
  line-height: var(--line-height-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul li,
ol li {
  margin: 0;
  line-height: var(--line-height-base);
}

ul li {
  list-style-type: square;

  &::marker {
    color: var(--accent-secondary);
  }
}

p {
  margin-block: 0 var(--v-space-4xxs);
}

// The exception is the last <p> inside a field with multiple <p>.
.field__item {
  p:last-of-type {
    margin-block-end: 0;
  }
}

dl,
dt,
dd {
  margin: 0;
}

address {
  font-style: normal;
}

video,
img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

video {
  inline-size: max-content;
  max-block-size: 90vh;
  background-color: black;
}

a {
  color: var(--brand-primary-dark);
  text-decoration: underline solid 2px var(--brand-primary-dark);
  transition: color 0.12s ease-in, text-decoration-color 0.12s ease-in;

  &:hover {
    text-decoration-color: var(--color-transparent);
    transition: text-decoration-color 0.12s ease-in;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: var(--brand-secondary-dark);
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: var(--focus-color) solid 2px;
    text-decoration-color: var(--color-transparent);
  }

  // Set link font on page only (skip admin toolbar).
  .layout-container & {
    font-family: var(--font-display-face);
  }
}

input,
select {
  &:focus {
    outline: var(--focus-color) solid 2px;
    outline-offset: 2px;
  }
}

label {
  font-weight: 700;
}

.clipboard-item {
  position: relative;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

// For Nodes whose bodies need a 'Show More'.
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
