.digital-heritage {
  // Default view mode is used in the Realted Content field on Collections.
  &__default {
    &__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      column-gap: var(--v-space-xs);

      @include media('>=md') {
        flex-direction: row;
      }

      &__image {
        flex: 1;
      }

      &__text {
        flex: 2;

        h2 {
          font-size: var(--font-size-2xxl);
          margin-block-start: 0;
        }

        > *:not(:last-child) {
          padding-block-end: var(--v-space-5xs);
        }

        &__content-type {
          font-size: var(--font-size-base);
          font-weight: var(--text-bold);
        }

        &__communities {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }

        &__category {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }
      }
    }
  }

  // Display title and drop shadow.
  #block-mukurtu-v4-page-title {
    grid-column: 1 / -1;
    text-align: center;

    // Shadow.
    background: linear-gradient(var(--brand-light), var(--color-white));
    background-repeat: no-repeat;
    background-size: 100% 12px;
    background-position: bottom;
    padding: 0;
    padding-block-end: var(--v-space-2xs);
    margin-block-end: var(--v-separation);
  }

  // Browse Digital Heritage page (this part sets up the grid).
  &__main-content {
    @include layout--full-width-grid;

    // Add region to the main grid,
    //then create a grid in it to add items to.
    .region {
      grid-column: 1 / -1;
      @include layout--full-width-grid-no-padding;
    }

    #block-mukurtu-v4-content {
      grid-column: 1 / -1;

      @include media('>=2xl') {
        grid-column: 2 / -2;
      }
    }

    // This is bound by the grid containing it, but also needs
    // a grid to attach its children to.
    .browse-container {
      display: grid;
      grid-template-columns: var(--grid-9col);
      column-gap: var(--gutter);

      @include media('>=xl') {
        grid-template-columns: var(--grid-12col);
      }

      .browse-links {
        margin-block: var(--v-space-4xxs);
        text-align: center;
        display: flex;
        gap: var(--v-space-5xs);

        @include media('>=lg') {
          margin-block-start: 0;
          text-align: start;
        }

        // Style the 'Switch to Map' button.
        a {
          background-color: var(--brand-primary-dark);
          color: var(--color-white);
          font-weight: var(--text-bold);
          line-height: normal;
          text-decoration: none;
          padding-block: var(--v-space-6xs);
          padding-inline: var(--v-space-5xs);

          &:hover {
            background-color: var(--brand-primary-accent);
          }

          &:focus {
            outline-offset: 1px;
          }
        }

        a.active-toggle {
          background-color: var(--color-white);
          border: 1px solid var(--brand-primary-dark);
          color: var(--brand-primary-dark);

          &:hover {
            background-color: var(--brand-primary-dark);
            color: var(--color-white);
          }
        }
      }

      .browse-results {
        grid-row: 2;
        grid-column: 1 / -1;

        @include media('>=lg') {
          grid-row: 1;
          grid-column: 1 / span 6;
        }

        @include media('>=xl') {
          grid-column: 1 / span 9;
        }

        // Space between main content and footer.
        margin-block-end: var(--v-separation);

        // Space between the rows.
        .views-row {
          &:first-of-type {
            border-top: 5px solid var(--mukurtu-view-row-divider-color);
            margin-block-start: var(--v-space-3xs);
          }

          border-bottom: 5px solid var(--mukurtu-view-row-divider-color);
        }

        // When the Grid button is selected on the Browse Digital Heritage page,
        // a masonry grid layout is applied.
        .browse-dh-grid {
          column-count: 1;

          @include media('>=lg') {
            column-count: 2;
            column-gap: var(--v-space-3xs);
          }

          @include media('>=xl') {
            column-gap: var(--v-space-2xs);
          }

          @include media('>=2xl') {
            column-count: 3;
          }

          .views-row {
            break-inside: avoid;

            .digital-heritage__content {
              display: flex;
              flex-direction: column;
            }

            .digital-heritage__content__block {
              display: none;
            }
          }
        }
      }

      .browse-facets {
        grid-row: 1;
        grid-column: 1 / -1;

        @include media('>=lg') {
          grid-column: 7 / span 3;
        }

        @include media('>=xl') {
          grid-column: 10 / span 3;
        }

        // Search box at the top of the sidebar.
        .views-exposed-form {
          margin-block-end: var(--v-space-3xs);

          // Labels for Search and Sort By
          label {
            display: block;
            background-color: var(--brand-primary-dark);
            color: var(--light-text-color);
            font-size: var(--font-size-m);
            font-weight: var(--text-bold);
            margin-block-start: 0;
            margin-block-end: var(--v-space-5xs);
            padding-inline: var(--v-space-4xxs);
            padding-block: var(--v-space-4xs);
          }

          .search-form {
            display: flex;
            flex-direction: column;

            input[type='text'] {
              padding: var(--v-space-4xxs) var(--v-space-2xs);
              border: none;
              background-color: var(--mukurtu-text-box-background-color);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              color: var(--brand-text-color);
              font-size: var(--font-size-base);
              width: 100%;
            }
          }

          // The Apply button.
          input[type='submit'] {
            background-color: var(--brand-secondary);
            color: var(--brand-text-color);
            border-radius: 5px;
            width: 100%;

            &:hover {
              background-color: var(--brand-secondary-accent);
            }

            &:focus {
              outline: var(--focus-color) solid 2px;
              outline-offset: 2px;
            }
          }

          // The Sort By dropdown.
          .js-form-type-select {
            display: flex;
            flex-direction: column;
            margin-block: var(--v-space-3xs);

            label {
              margin-block-end: 0;
            }

            select {
              border-color: var(--mukurtu-text-box-background-color);
              padding: var(--v-space-4xxs) var(--v-space-2xs);
              color: var(--brand-text-color);
              font-size: var(--font-size-base);
              width: 100%;
            }
          }

          // Align button to the right.
          .form-actions {
            text-align: right;
          }
        }

        .facets-widget-checkbox {
          background-color: var(--mukurtu-panel-pane-content-background-color);

          h3 {
            background-color: var(--brand-primary-dark);
            color: var(--light-text-color);
            font-size: var(--font-size-m);
            font-weight: var(--text-bold);
            margin-block-start: 0;
            padding-inline: var(--v-space-4xxs);
            padding-block: var(--v-space-4xs);
          }

          ul {
            padding-inline: var(--v-space-4xxs);
            padding-block-end: var(--v-space-4xs);

            li {
              list-style: none;
            }
          }
        }
      }
    }
  }

  // Each Browse item - this is in the context of the Browse Collection
  // page and may need to be tweaked if there are other uses of this.
  &__browse {
    padding-block: var(--v-space-2xs);

    .digital-heritage__content {
      display: grid;
      grid-template-columns: var(--grid-9col);
      grid-gap: var(--v-space-2xs);

      // Image container.
      .field-representative-media {
        grid-column: 1 / span 2;
      }

      .digital-heritage__content__text {
        grid-column: 3 / span 7;
      }

      .digital-heritage__content__title {
        // Control the text and the right arrow icon.
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        column-gap: var(--v-space-4xxs);

        h2 {
          max-width: 90%;
          font-size: var(--font-size-xl);
          margin-block-start: 0;

          @include media('>=lg') {
            font-size: var(--font-size-2xxl);
          }
        }

        svg {
          fill: var(--brand-secondary);
        }
      }

      .digital-heritage__content__block {
        margin-block-start: var(--v-space-3xs);

        .field-reference {
          display: flex;
          gap: var(--v-space-5xs);

          &:first-of-type {
            margin-block-end: var(--v-space-5xs);
          }

          .field-title {
            font-weight: var(--text-bold);

            &::after {
              content: ':';
            }
          }

          .field-item__container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--v-space-6xs);

            .field-item:not(:last-of-type) {
              &::after {
                content: ',';
              }
            }
          }
        }
      }
    }
  }

  .pager {
    // Unordered list.
    &__items {
      display: flex;
      gap: var(--v-space-4xxs);
      padding: 0;
    }

    // List item.
    &__item {
      list-style: none;
      font-weight: var(--text-bold);
    }

    .is-active {
      a {
        color: var(--brand-text-color);
        text-decoration: none;
        border-bottom: 5px solid var(--brand-secondary);
        padding-block-end: var(--v-space-6xs);
        padding-inline: var(--v-space-6xs);
      }
    }
  }
}
