.page-node-type-digital-heritage {
  .layout-container {
    // This content type page title does not have drop shadow.
    .page__title {
      background: none;
      margin-block-start: var(--v-space-4xxs);
      margin-block-end: var(--v-space-2xs);
      margin-inline: 0;
    }
  }
}

.digital-heritage-node__grid {
  @include layout--full-width-grid;
}

.digital-heritage-node {
  &__media-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main {
    grid-column: 1 / span 6;

    @include media('>=lg') {
      grid-column: 1 / span 8;
    }

    @include media('>=2xl') {
      grid-column: 2 / span 8;
    }
  }

  &__content {
    .field:not(.field--name-field-media-assets, .field--name-field-media-assets .field) {
      @include divider;

      @include media('>md') {
        padding-block-end: var(--v-space-m);
      }
    }
  }

  &__related-content {
    .field--name-field-all-related-content {
      @include divider;
    }
  }

  // Sidebar.
  &__list {
    grid-column: 1 / span 6;

    @include media('>=lg') {
      grid-column: 9 / span 4;
    }

    @include media('>=2xl') {
      grid-column: 10 / span 4;
    }
  }

  &__sidebar {
    background-color: var(--brand-light-accent);
    border-top: 5px solid var(--brand-secondary);
    padding-inline: var(--v-space-4xs);
    padding-block-start: var(--v-space-4xxs);
    padding-block-end: var(--v-space-s);

    .field {
      padding-block: var(--v-space-4xxs);
      border-bottom: 1px solid var(--brand-light);

      &__label {
        font-size: var(--font-size-s);
      }

      &__item {
        line-height: var(--line-height-s);
      }

      // If multiple items. 
      &__items {
        .field__item {
          display: inline;

          &::after {
            content: ', ';
          }

          &:last-of-type {
            &::after {
              content: '';
            }
          }
        }
      }
    }

    .field:last-of-type {
      padding-block-end: 0;
      border-bottom: none;
    }
  }
}
