.digital-hertiage {
  // Default view mode is used in the Realted Content field on Collections.
  &__default {
    &__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      column-gap: var(--v-space-xs);

      @include media('>=md') {
        flex-direction: row;
      }

      &__image {
        flex: 1;
      }

      &__text {
        flex: 2;

        h2 {
          font-size: var(--font-size-2xxl);
          margin-block-start: 0;
        }

        > *:not(:last-child) {
          padding-block-end: var(--v-space-5xs);
        }

        &__content-type {
          font-size: var(--font-size-base);
          font-weight: var(--text-bold);
        }

        &__communities {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }

        &__category {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }
      }
    }
  }
}
