<h3>{{ 'Select Community Record Type'|t }}</h3>

{% if types is not empty %}
  <dl>
    {% for type in types %}
      <dt><a href="{{  path('mukurtu_community_records.add_new_record_by_type', {'node': node.id(), 'node_type': type.getOriginalId()}) }}">{{ type.label() }}</a></dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% endif %}
