:root {
  // Overridden by Palette Switcher.
  --brand-primary:          #ac143a;
  --brand-primary-dark: var(--brand-primary);
  --brand-primary-accent: #9a1134;
  --brand-secondary:        #d9d4c2;
  --brand-secondary-dark: #7a734d;
  --brand-secondary-accent: #c9c2a8;
  --mukurtu-navbar-collapse-link-hover-color:       var(--brand-secondary);
  --mukurtu-breadcrumb-gradient-color:              #99937f;
  --mukurtu-panel-pane-text-color:                  var(--brand-primary);
  --mukurtu-panel-pane-content-background-color:    #f1efe9;
  --mukurtu-mejs-background-color:                  var(--mukurtu-navbar-collapse-bg);
  --mukurtu-mejs-time-rail-loaded-color:            #fff;
  --mukurtu-mejs-time-rail-current-color:           var(--brand-secondary-accent);
  --mukurtu-dictionary-word-label-background-color: var(--brand-secondary);
  --mukurtu-collection-title-font-color:            var(--text-color);
  --mukurtu-collection-pane-bg-color:               var(--brand-light-accent);
}
