{#
/**
 * @file
 * Theme override for the Media block type.
 */
#}

<div{{ attributes.addClass('block--media-block') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content.field_block_media }}
</div>
