{#
/**
 * @file
 * Theme override for the Call to action block type.
 */
#}

{% set block_entity = content['#block_content'] %}
<div{{ attributes.addClass('block--call-to-action') }}>
  {% if block_entity.body.value %}
    <div class="block--call-to-action__body">
      {{ content.body }}
    </div>
  {% endif %}
  <div class="block--call-to-action__link">
    {{ content.field_cta_link }}
  </div>
</div>
