{#
/**
 * @file community.html.twig
 * Default theme implementation to present Community data.
 *
 * This template is used when viewing Community pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_community()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('community') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
