<div class="community-page-browse community-page-listing">
  <ul class="communities">
    {% for community in communities %}
      <li class="communities__item">
        {{ community }}
      </li>
    {% endfor %}
  </ul>
</div>
