{#
/**
 * @file protocol.html.twig
 * Default theme implementation to present Protocol data.
 *
 * This template is used when viewing Protocol pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_protocol()
 *
 * @ingroup themeable
 */
#}
{% set hook_class = theme_hook_original|replace({'_': '-'}) %}
<div{{ attributes.addClass(['protocol', hook_class]) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
