.media:has(.mukurtu-content-warnings) {
  position: relative;
}

.mukurtu-content-warnings {
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0 0 0 / 90%);
  backdrop-filter: blur(6px);
  color: white;
  line-height: var(--line-height-xs);
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: var(--focus-color) solid 2px;
  }

  &.dismissed {
    display: none;
  }
}

.mukurtu-content-warning {
  .splide__track--nav & {
    display: none;
  }
}

