<h3>About</h3>
<p>This is a complete rewrite of the Geocoder module, based on the <a href="http://geocoder-php.org/" target="blank">Geocoder PHP library</a>.</p>
<h3>Features</h3>
<ul>
  <li>Solid API based on <a href="http://geocoder-php.org" target="_blank">Geocoder PHP library</a></li>
  <li>Geocode and Reverse Geocode using one or multiple Geocoder providers (ArcGISOnline, BingMaps, File, GoogleMaps,  Nominatim, OpeneStreetMap, etc); </li>
  <li>Results can be dumped into multiple formats such as WKT, GeoJson, etc ...;</li>
  <li>The Geocoder Provider and Dumper plugins are extendable through a custom module;</li>
  <li>Submodule Geocoder Field provides Drupal fields widgets and formatters, with even more options;</li>
  <li><a href="https://www.drupal.org/project/geofield" target="_blank">Geofield</a> and <a href="https://www.drupal.org/project/address" target="_blank">Address</a> field integrations;</li>
  <li>Caching results capabilities, enabled by default;</li>
</ul>
