<div {{ attributes }} typeof="Place">
  <span property="geo" typeof="GeoShape">
    <meta property="line" content="{{ coordinates }}" />
  </span>

  {% if title is not empty %}
    <h2 class="polyline-title" property="name">{{ title }}</h2>
  {% endif %}

  {% if children is not empty %}
    <div class="polyline-content">{{ children }}</div>
  {% endif %}
</div>