<div {{ attributes }}>
    <div class="geolocation-map-controls">
      {% if controls is not empty %}
        {% for control in controls %}
          {{ control }}
        {% endfor %}
      {% endif %}
    </div>

    <div class="geolocation-map-container js-show"></div>

    {% if children is not empty %}
        {{ children }}
    {% endif %}
</div>
