@use "../../../external/include-media";
@use "../../00-base/layout/layout";

header {
  align-items: center;
  padding-block: var(--v-space-4xxs);
}

.header {
  justify-content: center;
  align-items: center;

  @include layout.layout--full-width-grid;

  &__logo {
    grid-column: 1 / span 1;

    a {
      display: inline-block;
      padding: var(--v-space-5xs);
      margin: var(--v-space-5xs);
      margin-inline-start: -0.5rem;
    }

    img {
      inline-size: 100px;
      max-inline-size: none;
    }

    @include include-media.media('>=lg') {
      grid-column: 1 / span 1;

      img {
        inline-size: 70px;
      }
    }

    @include include-media.media('>=2xl') {
      grid-column: 2 / span 1;

      img {
        inline-size: 100px;
      }
    }

  }

  &__main-nav {
    grid-column: 2 / span 5;

    @include include-media.media('>=lg') {
      grid-column: 2 / span 11;
    }

    @include include-media.media('>=2xl') {
      grid-column: 4 / span 11;
    }
  }

  .language-switcher {
    grid-column: -1 / span 1;
  }
}
