header {
  align-items: center;
  padding-block: var(--v-space-4xxs);
}

.header {
  @include layout--full-width-grid;

  justify-content: center;
  align-items: center;

  &__logo {
    grid-column: 1 / span 1;

    a {
      display: inline-block;
      padding: var(--v-space-5xs);
      margin: var(--v-space-5xs);
      margin-inline-start: -0.5rem;
    }

    img {
      inline-size: 100px;
      max-inline-size: none;
    }

    @include media('>=lg') {
      grid-column: 1 / span 1;

      img {
        inline-size: 70px;
      }
    }

    @include media('>=2xl') {
      grid-column: 2 / span 1;

      img {
        inline-size: 100px;
      }
    }

  }

  &__main-nav {
    grid-column: 2 / span 5;

    @include media('>=lg') {
      grid-column: 2 / span 12;
    }

    @include media('>=2xl') {
      grid-column: 4 / span 12;
    }
  }
}
