@use "../../../external/include-media";
@use "../../00-base/layout/layout";

.layout-container {
  main {
    display: block;
  }

  .page {
    &__account-menu {
      // Style this here for full bleed of color.
      background-color: var(--brand-primary);

      @include layout.layout--full-width-grid;

      .region {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        column-gap: var(--v-space-2xs);

        // The first child is assumed to be the main navigation.
        // It is placed in the center column of our 3-column grid.
        & > *:first-child {
          grid-column: 2;
        }

        .language-switcher {
          grid-column: 3;
          justify-self: end;

          svg path {
            fill: var(--color-white);
          }
        }

        @include include-media.media('>=2xl') {
          grid-column: 2 / -2;
        }
      }
    }

    &__title {
      grid-column: 1 / -1;
      text-align: center;
      padding-block: var(--v-space-2xs);
      margin-block-end: var(--v-separation);
      box-shadow: -1px 8px 15px var(--brand-light);

      h1 {
        margin-block: 0;
      }
    }
  }

  // Make sure Drupal messages are within the grid.
  .region__highlighted {
    @include layout.layout--full-width-grid;

    .messages-list {
      grid-column: 1 / -1;

      @include include-media.media('>=2xl') {
        grid-column: 2 / -2;
      }

      .messages {
        padding: var(--v-space-4xxs);
        margin-block: var(--v-space-4xxs);
        margin-inline: 0;
        border-radius: 3px;
        line-height: var(--line-height-s);
        font-weight: 900;
      }

      .messages--status {
        border: 2px solid var(--color-status-dark);
        color: var(--color-status-dark);
        background-color: var(--color-status-light);
      }

      .messages--warning {
        border: 2px solid var(--color-warning-dark);
        color: var(--color-warning-dark);
        background-color: var(--color-warning-light);
      }

      .messages--error {
        border: 2px solid var(--color-error-dark);
        color: var(--color-error-dark);
        background-color: var(--color-error-light);
      }
    }
  }
}
