.layout-container {

  header {
    @include layout--full-width-grid;

    .page {
      &__banner__wrapper {
        display: flex;
        align-items: center;
        column-gap: var(--gutter);
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        grid-column: 1 / -1;

        @include media('>=2xl') {
          grid-column: 2 / -2;
        }
      }

      &__logo {
        flex-shrink: 0;
      }

      &__main-nav {
        flex-grow: 1;
      }
    }
  }

  main {
    @include layout--full-width-grid;
    margin-block-end: var(--v-separation);

    .dashboard,
    .collections {
      grid-column: 1 / -1;

      @include media('>=2xl') {
        grid-column: 2 / -2;
      }
    }
  }

  .page {
    &__account-menu {
      @include layout--full-width-grid;

      // Style this here for full bleed of color.
      background-color: var(--brand-primary-dark);

      div:first-of-type {
        grid-column: 1 / -1;

        @include media('>=2xl') {
          grid-column: 2 / -2;
        }
      }
    }

    &__breadcrumbs {
      // Style this here for full bleed of color.
      background: linear-gradient(180deg, var(--mukurtu-breadcrumb-gradient-color) 0%, var(--brand-secondary) 20%);

      @include layout--full-width-grid;

      div:first-of-type {
        grid-column: 1 / -1;

        @include media('>=2xl') {
          grid-column: 2 / -2;
        }
      }

      ol {
        padding: 0;

        li {
          list-style-type: none;
        }
      }

      a {
        color: var(--brand-text-color);
        text-decoration: underline solid 2px var(--brand-text-color);
        transition: color 0.12s ease-in, text-decoration-color 0.12s ease-in;

        &:hover {
          text-decoration-color: var(--color-transparent);
          transition: text-decoration-color 0.12s ease-in;
        }
      }
    }

    &__title {
      grid-column: 1 / -1;
      text-align: center;
      padding-block: var(--v-space-2xs);
      background: linear-gradient(var(--brand-light), var(--color-white));
      background-repeat: no-repeat;
      background-size: 100% 12px;
      background-position: bottom;
      margin-block-end: var(--v-separation);

      h1 {
        margin-block: 0;
      }
    }
  }
}
