{#
/**
 * @file
 * Default theme implementation of a media content warning.
 *
 * Available variables:
 * - warning: The warning text.
 */
#}
<div {{ attributes.addClass('mukurtu-content-warning') }}>
  {{ warning }}
</div>
