// The horizontal card component can be seen on the list view of the digital heritage browse page,
// as well as the related content section at the bottom of the main content area on a DH node. 
.horizontal-card {
  padding-block: var(--v-space-2xs);
  display: grid;
  grid-template-columns: var(--grid-9col);
  grid-gap: var(--v-space-2xs);

  // Image container.
  &__media {
    grid-column: 1 / span 2;
  }

  &__content {
    grid-column: 3 / span 7;
  }

  &__content-header {
    // Control the text and the right arrow icon.
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: var(--v-space-4xxs);

    h2 {
      max-width: 90%;
      font-size: var(--font-size-xl);
      margin-block-start: 0;

      @include media('>=lg') {
        font-size: var(--font-size-2xxl);
      }
    }

    svg {
      fill: var(--brand-secondary);
    }
  }

  &__content-body {
    margin-block-start: var(--v-space-3xs);

    .field--type-entity-reference {
      display: flex;
      gap: var(--v-space-5xs);

      &:first-of-type {
        margin-block-end: var(--v-space-5xs);
      }

      .field__label {
        font-weight: var(--text-bold);

        &::after {
          content: ':';
        }
      }

      .field__items {
        display: flex;
        flex-wrap: wrap;
        gap: var(--v-space-6xs);

        .field__item:not(:last-of-type) {
          &::after {
            content: ',';
          }
        }
      }
    }
  }
}
