parameters:
  level: 6

  ignoreErrors:
    # best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"