.glb-region-sticky {
  font-family:
    Inter,
    -apple-system,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

  &__items__inner {
    display: flex;
    align-items: center;
  }

  .block-page-title-block {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .gin-sticky {
    display: flex;
    align-items: center;
  }
  .page-title {
    margin: 0 !important;
  }
}
