.js-form-type-email,
.js-form-type-textfield,
.js-form-type-password {
  input {
    appearance: none;
    border: none;
    background: var(--brand-light-accent);
    padding: var(--v-space-4xxs) var(--v-space-2xs) var(--v-space-4xxs) var(--v-space-5xs);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: var(--text-bold);
  }
}
