{#
/**
 * @file
 * Default theme implementation for Geofield LatLon.
 *
 * Available variables:
 * - lat: The Latitude value.
 * - lon: The Longitude value.
 *
 * @ingroup themeable
 */
#}

<span class="latlon latlon-lat">{{ lat }}</span>, <span class="latlon latlon-lon">{{ lon }}</span>
