/* @file
 * Styles for the landing page template.
 */
 @use "../../../external/include-media";

.layout--onecol {
  .block-wrapper {
    box-shadow: 0 12px 12px 0 var(--brand-light);
    margin-block-end: var(--v-space-s);

    &:last-of-type {
      box-shadow: none;
    }

    h2 {
      text-align: center;
      margin-block-end: var(--v-space-2xs);
    }
  }

  .map--browse--wrapper {
    padding-inline: var(--layout-padding);
    padding-block: 0 var(--v-space-s);

    @include include-media.media('>=lg') {
      padding-inline: var(--layout-padding-m);
    }
  }
}
