<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

  <php>
    <!-- Example for changing the driver args to webdriver tests MINK_DRIVER_ARGS_WEBDRIVER value: '["chrome", { "goog:chromeOptions": { "w3c": false } }, "http://localhost:4444/wd/hub"]' For using the Firefox browser, replace "chrome" with "firefox" -->
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","chromeOptions":{"args":["--disable-gpu","--headless", "--no-sandbox"]}}, "http://chromedriver:9515"]'/>
  </php>

  <extensions>
    <!-- Functional tests HTML output logging. -->
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <!-- The directory where the browser output will be stored. If a relative
        path is specified, it will be relative to the current working directory
        of the process running the PHPUnit CLI. In CI environments, this can be
        overridden by the value set for the "BROWSERTEST_OUTPUT_DIRECTORY"
        environment variable.
      -->
      <parameter name="outputDirectory" value="sites/simpletest/browser_output"/>
      <!-- By default browser tests print the individual links in the test run
        report. To avoid overcrowding the output in CI environments, you can
        set the "verbose" parameter or the "BROWSERTEST_OUTPUT_VERBOSE"
        environment variable to "false". In GitLabCI, the output is saved
        anyway as an artifact that can be browsed or downloaded from Gitlab.
      -->
    </bootstrap>
  </extensions>

  <testsuites>
    <testsuite name="unit">
      <directory>web/modules/custom/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>web/modules/custom/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>web/modules/custom/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>web/modules/custom/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="false">
        <include>
            <directory>web/modules/custom/message_subscribe</directory>
            <directory suffix=".module">web/modules/custom/message_subscribe</directory>
            <directory suffix=".install">web/modules/custom/message_subscribe</directory>
            <directory suffix=".module">web/modules/custom/message_subscribe/message_subscribe_ui</directory>
            <directory suffix=".install">web/modules/custom/message_subscribe/message_subscribe_ui</directory>
            <directory suffix=".module">web/modules/custom/message_subscribe/message_subscribe_email</directory>
            <directory suffix=".install">web/modules/custom/message_subscribe/message_subscribe_email</directory>
            <directory suffix=".module">web/modules/custom/message_subscribe/message_subscribe_example</directory>
            <directory suffix=".install">web/modules/custom/message_subscribe/message_subscribe_example</directory>
        </include>
        <exclude>
            <directory>web/modules/custom/message_subscribe/message_subscribe_ui/tests</directory>
            <directory>web/modules/custom/message_subscribe/message_subscribe_email/tests</directory>
            <directory>web/modules/custom/message_subscribe/message_subscribe_example/tests</directory>
            <directory>web/modules/custom/message_subscribe/tests</directory>
            <directory>web/modules/custom/**/tests</directory>
            <directory suffix=".module">web/modules/custom/**/tests</directory>
            <directory suffix=".api.php">web/modules/custom/message_subscribe</directory>
        </exclude>
    </source>
</phpunit>
