@use "../../../external/include-media";
@use "../../00-base/mixins/mixins";
@use "../../00-base/layout/layout";

// Digital Heritage Browse and General Browse.

.browse {
  // Default view mode is used in the Related Content field on Collections.
  &__default {
    &__header {
      display: flex;
      flex-flow: column wrap;
      column-gap: var(--v-space-xs);

      @include include-media.media('>=md') {
        flex-direction: row;
      }

      &__image {
        flex: 1;
      }

      &__text {
        flex: 2;

        h2 {
          font-size: var(--font-size-2xxl);
          margin-block-start: 0;
        }

        > *:not(:last-child) {
          padding-block-end: var(--v-space-5xs);
        }

        &__content-type {
          font-size: var(--font-size-base);
          font-weight: var(--text-bold);
        }

        &__communities {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }

        &__category {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }
      }
    }
  }

  // Browse Digital Heritage page (this part sets up the grid).
  &__main-content {
    @include layout.layout--full-width-grid;

    // Add region to the main grid,
    // then create a grid in it to add items to.
    .region {
      grid-column: 1 / -1;

      @include layout.layout--full-width-grid-no-padding;
    }

    #block-mukurtu-v4-content {
      @include layout.layout--full-width-grid-item;
    }

    // This is bound by the grid containing it, but also needs
    // a grid to attach its children to.
    .browse-container {
      display: grid;
      grid-template-columns: var(--grid-9col);
      column-gap: var(--gutter);

      @include include-media.media('>=xl') {
        grid-template-columns: var(--grid-12col);
      }

      .browse-links {
        margin-block: var(--v-space-4xxs);
        text-align: center;
        display: flex;
        gap: var(--v-space-5xs);

        @include include-media.media('>=lg') {
          margin-block-start: 0;
          text-align: start;
        }

        // Style switcher buttons.
        a,
        button {
          @include mixins.block-link;
        }

        .active-toggle {
          @include mixins.block-link-active;
        }
      }

      .browse-results {
        grid-row: 2;
        grid-column: 1 / -1;

        // Space between main content and footer.
        margin-block-end: var(--v-separation);

        @include include-media.media('>=lg') {
          grid-row: 1;
          grid-column: 1 / span 6;
        }

        @include include-media.media('>=xl') {
          grid-column: 1 / span 9;
        }

        // Space between the rows.
        .views-row {
          &:first-of-type {
            border-block-start: 5px solid var(--mukurtu-view-row-divider-color);
            margin-block-start: var(--v-space-3xs);
          }
        }

        .grid .views-row {
          &:first-of-type {
            border-block-start: none;
            margin-block-start: 0;
          }
        }

      }

      // Sidebar.
      .browse-facets {
        grid-row: 1;
        grid-column: 1 / -1;

        @include include-media.media('>=lg') {
          grid-column: 7 / span 3;
        }

        @include include-media.media('>=xl') {
          grid-column: 10 / span 3;
        }

        // Search textfield.
        .js-form-type-textfield {
          margin-block-end: var(--v-space-4xs);
        }

        // Sort dropdown.
        .js-form-type-select {
          &::after {
            inset-block: unset 20px;
          }

          select {
            margin-inline-start: 0;
          }
        }

        // Search box at the top of the sidebar.
        .views-exposed-form {
          margin-block-end: var(--v-space-3xs);

          label {
            display: block;
            background-color: var(--brand-primary-dark);
            color: var(--light-text-color);
            font-size: var(--font-size-m);
            font-weight: var(--text-bold);
            margin-block-start: 0;
            padding-inline: var(--v-space-4xxs);
            padding-block: var(--v-space-5xs);
          }
        }

        // Apply/reset buttons for search and relevance.
        .form-actions {
          margin-block-start: var(--v-space-4xs);
        }

        // Details/summary elements in sidebar; facets.
        .facets-widget-checkbox {
          background-color: var(--mukurtu-panel-pane-content-background-color);
          margin-block-end: var(--v-space-4xs);

          summary {
            background-color: var(--brand-primary-dark);
            color: var(--light-text-color);
            font-size: var(--font-size-m);
            font-weight: var(--text-bold);
            margin-block-start: 0;
            padding-inline: var(--v-space-4xxs);
            padding-block: var(--v-space-5xs);
            cursor: pointer;

            &::marker {
              content: '';
            }
          }

          ul {
            padding-block: 0 var(--v-space-4xxs);
            padding-inline: var(--v-space-4xxs);

            li {
              list-style: none;
            }
          }
        }
      }
    }
  }

  .pager {
    // Unordered list.
    &__items {
      display: flex;
      gap: var(--v-space-4xxs);
      padding: 0;
      justify-content: center;
    }

    // List item.
    &__item {
      list-style: none;
      font-weight: var(--text-bold);

      // stylelint-disable-next-line no-descending-specificity
      a {
        padding: var(--v-space-5xs);
      }
    }

    .is-active {
      // stylelint-disable-next-line no-descending-specificity
      a {
        color: var(--brand-text-color);
        text-decoration: none;
        border-block-end: 5px solid var(--brand-secondary);
      }
    }
  }
}

// All the extra facets blocks that are placed to ensure
// each display type gets its facets working properly
// are hidden here.

.other-facets {
  display: none;
}
