.collections {
  @include layout--full-width-grid;

  grid-column: 1 / -1;

  @include media('>=2xl') {
    grid-column: 2 / -2;
  }

  &__main-content {
    @include layout--full-width-grid-item;
  }

  &__collection-list {
    // Search form.
    .views-exposed-form {
      inline-size: 100%;

      @include media('>=md') {
        inline-size: 25%;
      }

      .js-form-type-select {
        select {
          margin-inline-start: 0;
        }

        &::after {
          inset-block-start: 68px;
        }
      }

      svg {
        fill: var(--brand-text-color);
        inline-size: var(--v-space-4xxs);
        block-size: var(--v-space-4xxs);
      }

      label {
        display: block;
        background-color: var(--brand-primary-dark);
        color: var(--light-text-color);
        font-size: var(--font-size-m);
        font-weight: var(--text-bold);
        margin-block-start: 0;
        padding-inline: var(--v-space-4xxs);
        padding-block: var(--v-space-5xs);
      }

      .form-actions {
        margin-block-start: var(--v-space-4xs);
      }
    }

    .views-row {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      @include media('>=lg') {
        flex-direction: row;
      }

      // Add horizontal spacing between collection and search.
      &:first-of-type {
        padding-block-start: var(--gutter);
      }

      &:nth-of-type(even) {
        flex-direction: column-reverse;

        @include media('>=lg') {
          flex-direction: row-reverse;
        }
      }

      > * {
        flex: 1;
      }

      &:not(:last-of-type) {
        padding-block-end: var(--v-space-3xs);
      }
    }
  }

  &__content {
    &__container {
      background-color: var(--brand-secondary);

      h2 {
        position: relative;
        margin-block-start: var(--v-space-s);
        font-size: var(--font-size-xl);

        @include media('>=lg') {
          font-size: var(--font-size-2xl);
        }

        a {
          color: var(--brand-primary);
          text-decoration: underline solid 2px var(--brand-secondary);

          &:hover {
            text-decoration: underline solid 2px var(--brand-primary-dark);
          }
        }

        &::after {
          content: '';
          display: block;
          inline-size: 136px;
          block-size: 6px;
          background-color: var(--brand-primary);
          position: absolute;
          inset-block-end: -48px;
        }
      }

      // stylelint-disable-next-line no-descending-specificity
      > * {
        margin-inline: var(--v-space-xs);
        margin-block-end: var(--v-space-4xxs);

        &:first-child {
          margin-block-end: var(--v-space-l);
        }

        &:last-child {
          margin-block-end: var(--v-space-s);
        }
      }
    }

    &__count {
      font-weight: var(--text-bold);
    }

    &__view-collection {
      display: flex;
      column-gap: var(--v-space-5xs);
      align-items: center;

      // stylelint-disable-next-line no-descending-specificity
      a {
        font-weight: var(--text-bold);
        letter-spacing: var(--letter-spacing-label);
        color: var(--brand-primary);
        text-decoration: underline solid 2px var(--brand-secondary);

        // stylelint-disable-next-line no-descending-specificity
        &:hover {
          margin-inline-end: var(--v-space-6xs);
          text-decoration: underline solid 2px var(--brand-primary-dark);
          transition: margin-inline-end 0.1s ease-out;
        }
      }

      // stylelint-disable-next-line no-descending-specificity
      svg {
        fill: var(--brand-primary);
        inline-size: 12px;
        block-size: 18px;
      }
    }
  }

  &__image {
    &__container {
      display: flex;
      align-items: center;
      background: var(--brand-primary);
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgba(0 0 0 / 25%);
        z-index: 10;
      }

      .field-reference {
        block-size: auto;

        div {
          block-size: auto;
        }

        img {
          display: block;
          max-inline-size: 100%;
          block-size: auto;
        }
      }
    }
  }

  .field-summary {
    overflow: visible;
    -webkit-box-orient: initial;
    -webkit-line-clamp: initial;
    display: block;

    @include media('>=lg') {
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
    }

    @include media('>=xl') {
      -webkit-line-clamp: 3;
    }
  }
}
