// Defaults.
button,
input[type=button],
input[type=submit],
input[type=reset] {
  color: var(--light-text-color);
  background: var(--brand-primary-dark);
  font-size: var(--font-size-base);
  font-weight: var(--text-bold);
  letter-spacing: var(--letter-spacing-label);
  border: none;
  padding: var(--v-space-4xs) var(--v-space-2xs);

  &:hover,
  &:active {
    color: var(--light-text-color);
    background: var(--brand-primary-accent);
  }

  &:focus {
    outline: 2px solid var(--color-focus);
  }

  &:disabled {
    color: var(--light-text-color);
    background: var(--brand-text-color);
  }
}
