{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
<div class="search-form">
  {{ form.search_api_fulltext }}

  {{ form.actions }}
</div>

{{ form.sort_by }}

{{ form|without('search_api_fulltext','actions', 'sort_by') }}
