.gin--classic-toolbar.glb-body {
  .gin-secondary-toolbar--frontend {
    top: var(--gin-toolbar-y-offset);
  }
}

// Toolbar
.gin--classic-toolbar.glb-body .toolbar .toolbar-bar {
  position: fixed;
  inset-inline-start: 0;
  width: 100%;
  box-shadow: none;
}

#toolbar-item-display-options {
  background: none;
}

.gin--classic-toolbar.glb-body .region-breadcrumb {
  margin-block-start: 0;
}

.gin--classic-toolbar.glb-body .glb-sidebar {
  top: calc(var(--drupal-displace-offset-top) - var(--gin-toolbar-secondary-height)) !important;
}

.gin--classic-toolbar.glb-body .gin-secondary-toolbar .toolbar-tray nav {
  display: flex;
  justify-content: center;
}
