.collection {
  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-block-end: var(--v-space-xs);

    @include media('>=lg') {
      flex-direction: row;
    }

    > * {
      flex: 1;
    }

    &__image {
      position: relative;
      background-color: var(--brand-primary);

      // Creates the 25% black effect over the image.
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 10;
      }

      img {
        display: block;
      }
    }

    &__text {
      background-color: var(--brand-primary-dark);
      color: var(--color-white);

      h2 {
        position: relative;
        margin-block-start: var(--v-space-2xl);
        margin-block-end: var(--v-space-2xl);

        a {
          color: var(--color-white);
          font-size: var(--font-size-heading-2xl);
        }

        &::after {
          content: '';
          display: block;
          width: 136px;
          height: 6px;
          background-color: var(--brand-secondary);
          position: absolute;
          bottom: -48px;
        }
      }

      // Margin for left/right of text elements.
      > * {
        margin-inline: var(--v-space-xl);
      }

      .node-summary {
        font-size: var(--font-size-l);
        margin-block-end: var(--v-space-2xl);
      }
    }
  }

  &__content {
    &__body {
      margin-block-end: var(--v-space-xs);
      padding-inline: var(--layout-padding-full-width);
      display: flex;
      flex-direction: column;
      align-items: center;

      // Create the 'shadow' look.
      background: linear-gradient(var(--brand-light), var(--color-white));
      background-repeat: no-repeat;
      background-size: 100% 12px;
      background-position: bottom;
      padding-block-end: var(--v-space-2xs);
    }
  }

  &__items {
    padding-block-start: var(--v-space-2xs);
    border-top: 5px solid var(--mukurtu-view-row-divider-color);

    > div {
      height: fit-content;
      border-bottom: 5px solid var(--mukurtu-view-row-divider-color);
      width: 100%;

      @include media('>=sm') {
        width: 200px;
      }

      @include media('>=md') {
        width: 228px;
      }

      @include media('>=xl') {
        width: 302px;
      }

      @include media('>=2xl') {
        width: 342px;
      }
    }

    h2 {
      font-size: var(--font-size-s);
      font-weight: var(--text-bold);
      margin-block-end: var(--v-space-3xs);
    }

    img {
      display: block;
    }

    // Style the right arrow and title.
    .digital-hertiage__content__text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        width: 13px;
        height: 20px;
        fill: var(--brand-secondary);
      }
    }

    &__label {
      color: var(--brand-text-color);
      font-weight: var(--text-bold);
      font-size: var(--font-size-s);
      margin-block-end: var(--v-space-xs);

      @include media('>=lg') {
        font-size: var(--font-size-m);
      }
    }
  }

  &__list {
    padding-inline: var(--layout-padding-full-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
