.collection {
  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-block-end: var(--v-space-xs);

    @include media('>=lg') {
      flex-direction: row;
    }

    > * {
      flex: 1;
    }

    &__image {
      position: relative;
      background-color: var(--brand-primary);

      // Creates the 25% black effect over the image.
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 10;
      }

      img {
        display: block;
      }
    }

    &__text {
      background-color: var(--brand-primary-dark);
      color: var(--color-white);

      h2 {
        position: relative;
        margin-block-start: var(--v-space-2xl);
        margin-block-end: var(--v-space-2xl);

        a {
          color: var(--color-white);
          font-size: var(--font-size-heading-2xl);
        }

        &::after {
          content: '';
          display: block;
          width: 136px;
          height: 6px;
          background-color: var(--brand-secondary);
          position: absolute;
          bottom: -48px;
        }
      }

      // Margin for left/right of text elements.
      > * {
        margin-inline: var(--v-space-xl);
      }

      .node-summary {
        font-size: var(--font-size-l);
        margin-block-end: var(--v-space-2xl);
      }
    }
  }

  &__content {
    &__body {
      margin-block-end: var(--v-space-xs);
      padding-inline: var(--layout-padding-full-width);
      display: flex;
      flex-direction: column;
      align-items: center;

      // Create the 'shadow' look.
      background: linear-gradient(var(--brand-light), var(--color-white));
      background-repeat: no-repeat;
      background-size: 100% 12px;
      background-position: bottom;
      padding-block-end: var(--v-space-s);

      p {
        font-size: var(--font-size-m);
      }
    }
  }

  &__items {
    > div {
      height: fit-content;
      border-bottom: 5px solid var(--mukurtu-view-row-divider-color);
      width: 100%;
      break-inside: avoid;
      margin-block-end: var(--v-space-xs);

      @include media('>=md') {
        margin-block-end: var(--v-space-xs);
      }

      @include media('>=xl') {
        margin-block-end: var(--v-space-m);
      }
    }

    h2 {
      font-size: var(--font-size-s);
      font-weight: var(--text-bold);
      margin-block-end: var(--v-space-3xs);
      max-width: 90%;
    }

    img {
      display: block;
    }

    // Style the right arrow and title.
    .digital-hertiage__content__text,
    .collection__content__text,
    .dictionary-word__content__text,
    .person__content__text,
    .word-list__content__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--v-space-4xxs);

      svg {
        width: 13px;
        height: 20px;
        fill: var(--brand-secondary);
      }
    }

    &__label {
      color: var(--brand-text-color);
      font-weight: var(--text-bold);
      font-size: var(--font-size-s);
      letter-spacing: var(--letter-spacing-label);
      margin-block-end: var(--v-space-xs);

      @include media('>=lg') {
        font-size: var(--font-size-m);
      }
    }
  }

  // With sidebar.
  &__list {
    grid-column: 1 / -1;
    // margin-inline: var(--layout-padding-full-width);
    padding-block-end: var(--v-separation);
    @include layout--full-width-grid;

    @include media('>=2xl') {
      margin-inline: var(--layout-padding-full-width);
    }

    .collection__items__label,
    .collection__items {
      grid-column: 1 / -1;

      @include media('>=lg') {
        grid-column: 1 / span 8;
      }

      @include media('>=2xl') {
        grid-column: 1 / span 9;
      }
    }

    .collection__items {
      padding-block-start: var(--v-space-2xs);
      border-top: 5px solid var(--mukurtu-view-row-divider-color);
      column-count: 1;

      @include media('>=md') {
        column-count: 2;
        column-gap: var(--v-space-3xs);
      }

      @include media('>=md') {
        column-gap: var(--v-space-2xs);
      }

      @include media('>=2xl') {
        column-count: 3;
      }
    }

    .collection__sidebar {
      background-color: var(--brand-light-accent);
      grid-column: 1 / -1;

      @include media('>=lg') {
        grid-column: 10 / span 3;
      }

      @include media('>=2xl') {
        grid-column: 11 / span 3;
      }

      .field-title {
        padding: var(--v-space-4xxs);
        font-weight: var(--text-bold);
        letter-spacing: var(--letter-spacing-label);

        // Only add color to top of sidebar.
        &:first-of-type {
          background-color: var(--brand-secondary);
        }
      }

      .field-item {
        &__container {
          padding: var(--v-space-4xxs);
        }
      }
    }
  }

  // No sidebar.
  &__list__full {
    grid-column: 1 / -1;
    padding-block-end: var(--v-separation);
    @include layout--full-width-grid;

    @include media('>=2xl') {
      margin-inline: var(--layout-padding-full-width);
    }

    .collection__items__label,
    .collection__items {
      grid-column: 1 / -1;

      @include media('>=2xl') {
        grid-column: 2 / -2;
      }
    }
  }

  &__related-content {
    grid-column: 1 / -1;
    @include layout--full-width-grid;
    padding-block: var(--v-separation);

    // Create the 'shadow' look.
    background: linear-gradient(var(--brand-light), var(--color-white));
    background-repeat: no-repeat;
    background-size: 100% 12px;
    background-position: top;
    padding-block-end: var(--v-space-s);

    // Related Content field.
    .related-content {
      grid-column: 1 / -1;

      @include media('>=2xl') {
        grid-column: 2 / -2;
      }

      ul {
        padding: 0;

        li {
          font-size: var(--font-size-m);
          list-style: none;
          padding-block-end: var(--v-space-2xs);
          border-bottom: 5px solid var(--mukurtu-view-row-divider-color);

          &:not(:last-of-type) {
            margin-block-end: var(--v-space-2xs);
          }
        }
      }
    }
  }

  // The theming for the Collection instances in the Realted Content field.
  &__default {
    &__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      column-gap: var(--v-space-xs);

      @include media('>=md') {
        flex-direction: row;
      }

      &__image {
        flex: 1;
      }

      &__text {
        flex: 2;

        h2 {
          font-size: var(--font-size-2xxl);
          margin-block-start: 0;
        }

        >*:not(:last-child) {
          padding-block-end: var(--v-space-5xs);
        }

        &__content-type {
          font-size: var(--font-size-base);
          font-weight: var(--text-bold);
        }

        &__communities {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }

        &__category {
          .field-reference {
            display: flex;
            column-gap: var(--v-space-4xxs);

            .field-title {
              font-size: var(--font-size-base);
              font-weight: var(--text-bold);

              &::after {
                content: ':';
              }
            }

            .field-item {
              &:not(:last-of-type)::after {
                content: ',';
              }

              &__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: var(--v-space-5xs);
              }
            }
          }
        }
      }
    }
  }
}
