.page__breadcrumbs {
  // Style this here for full bleed of color.
  box-shadow: inset 0 41px 18px -42px var(--mukurtu-breadcrumb-gradient-color);
  background-color: var(--mukurtu-breadcrumb-background-color);

  @include layout--full-width-grid;

  div:first-of-type {
    grid-column: 1 / -1;

    @include media('>=2xl') {
      grid-column: 2 / -2;
    }
  }

  ol {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    color: var(--brand-text-color);
    text-decoration: underline solid 2px var(--brand-text-color);
    transition: color 0.12s ease-in, text-decoration-color 0.12s ease-in;

    &:hover {
      text-decoration-color: var(--color-transparent);
      transition: text-decoration-color 0.12s ease-in;
    }
  }

  .breadcrumb {
    &__list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__list-item:not(:last-of-type) {
      a {
        padding-inline-end: var(--v-space-5xs);
      }

      &::after {
        content: '>>';
        color: var(--brand-text-color);
        font-size: var(--font-size-2xs);
      }
    }

    &__list-item:not(:first-of-type) {
      padding-inline-start: var(--v-space-5xs);
    }
  }
}
