@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src: url('../fonts/BCSans-Regular.woff2') format('woff2'),
  // Optimized for very modern browsers
  url('..fonts/BCSans-Regular.woff') format('woff');
  // Modern Browsers
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('../fonts/BCSans-Italic.woff2') format('woff2'),
  // Optimized for very modern browsers
  url('../fonts/BCSans-Italic.woff') format('woff');
  // Modern Browsers
}

@font-face {
  font-family: 'BCSans';
  font-weight: 700;
  src: url('../fonts/BCSans-Bold.woff2') format('woff2'),
  // Optimized for very modern browsers
  url('../fonts/BCSans-Bold.woff') format('woff');
  // Modern Browsers
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/BCSans-BoldItalic.woff2') format('woff2'),
  // Optimized for very modern browsers
  url('../fonts/BCSans-BoldItalic.woff') format('woff');
  // Modern Browsers
}
