:root {
  // Typography.
  // @todo: add a serif font if using one, or remove this if not.

  /*! --font-body-face: Georgia,
     "Times New Roman",
     Times,
     serif; */
  --font-display-face: 'BCSans',
  'Noto Sans',
  verdana,
  arial,
  sans-serif;
  --font-size-base: var(--font-size-small);
}

// Headings definition.
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-display-face);
  font-weight: var(--headings-font-weight);
  line-height: var(--line-height-heading);
  color: var(--text-color);

  a {
    color: var(--brand-primary);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-block: var(--v-space-4xs) (var(--v-space-4xs) / 2);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-block: (var(--v-space-4xs) / 2);
}

h1,
.h1 {
  font-size: var(--font-size-heading-lg);
}

h2,
.h2 {
  font-size: var(--font-size-heading-md);
}

h3,
.h3 {
  font-size: var(--font-size-3xl);
}

h4,
.h4 {
  font-size: var(--font-size-2xl);
}

h5,
.h5 {
  font-size: var(--font-size-xl);
}

h6,
.h6 {
  font-size: var(--font-size-l);
}
