.field--type-entity-reference.field--name-field-pages.field--widget-entity-browser-entity-reference .entities-list {
  display: flex;
  flex-flow: row wrap;
}

.field--name-field-pages .node--view-mode-content-browser .field--name-field-representative-media {
  padding-right: 20px;
}

.field--name-field-pages .node--view-mode-content-browser .field--name-field-representative-media img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.field--name-field-pages .entities-list .rendered-entity {
  flex-basis: 100%;
  display: flex;
}

.field--name-field-pages .entities-list .rendered-entity article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.field--name-field-pages .entities-list .rendered-entity input {
  height: 2.5em;
  margin: 0 5px 0 5px;
}

