.community__sidebar > .field,
.protocol__sidebar > .field,
.callout {
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: var(--brand-light-accent);
  border-block-start: 5px solid var(--brand-secondary);
}
