<div class="browse-facets__wrapper">
  <div class="browse-facets">
    {% if facets %}
      {% for facet in facets %}
        {{ facet }}
      {% endfor %}
    {% endif %}

    {{ drupal_entity('block', 'views_exposed_filter_block:mukurtu_dictionary-mukurtu_dictionary_block') }}
  </div>
</div>

{% if glossary %}
<div class="glossary">
  {{ glossary }}
</div>
{% endif %}

<div class="browse-content__wrapper">
  <div class="browse-content">
    {{ results }}
  </div>
</div>
