<div class="browse-facets">
  {{ glossary }}
  {% if facets %}
    {% for facet in facets %}
      {{ facet }}
    {% endfor %}
  {% endif %}
</div>

<div class="browse-content">
  <div class="browse-results">
    {{ results }}
  </div>
</div>
