.color_field__swatch {
  display: inline-block;
}

.color_field__swatch--circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.color_field__swatch--parallelogram {
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
}

.color_field__swatch--triangle {
  width: 0;
  height: 0;
}
