.js-form-type-select,
.select-wrapper {
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    inset-inline-end: 15px;
    margin: auto;
    inset-block-start: 50%;
    transform: translateY(-50%);
    inline-size: 0;
    block-size: 0;
    border-style: solid;
    border-width: var(--v-space-5xs) var(--v-space-5xs) 0 var(--v-space-5xs);
    border-color: var(--brand-primary-accent) transparent transparent transparent;
  }

  select,
  .form-select {
    appearance: none;
    border: none;
    background: var(--brand-light-accent);
    padding-block: var(--v-space-4xxs) var(--v-space-4xxs);
    padding-inline: var(--v-space-5xs) var(--v-space-2xs);
    margin-inline-start: var(--v-space-6xs);
    inline-size: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: var(--text-bold);
  }
}
