<div class="browse-container">
  <div class="browse-results">
    <div class="browse-links">
      <a id="mukurtu-browse-grid-switch-link">Grid</a>
      <a class="active-toggle" id="mukurtu-browse-list-switch-link">List</a>
      {% if maplink %}
        {{ maplink }}
      {% endif %}
    </div>
    {{ results }}
  </div>
  <aside class="browse-facets">
    {% if drupal_block('views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') %}
      {{ drupal_block('views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') }}
    {% endif %}
    {% if facets %}
      {% for facet in facets %}
        {{ facet }}
      {% endfor %}
    {% endif %}
  </aside>
</div>
