<div class="browse-container">
  <div class="browse-links">
  {% if maplink %}
    {{ maplink }}
  {% endif %}
  </div>
  <div class="browse-results">
  {{ results }}
  </div>
  <aside class="browse-facets">
    {% if facets %}
      {% for facet in facets %}
        {{ facet }}
      {% endfor %}
    {% endif %}
  </aside>
</div>
