<div class="browse-container">
  <div class="browse-results">
    <div class="browse-links">
      {# @todo: these search parameter need to be cleared once the page is
      switched, but I wasn't able to complete this task in time for hand-off.
      It doesn't change behavior, but isn't a nice bug.  #}
      <a href="?active=grid" id="mukurtu-browse-grid-switch-link" aria-label="Switch to grid view">Grid</a>
      <a href="?active=list" class="active-toggle" id="mukurtu-browse-list-switch-link" aria-label="Switch to list view">List</a>
      {% if maplink %}
        {{ maplink }}
      {% endif %}
    </div>
    {{ results }}
  </div>
  <aside class="browse-facets">
    {% if drupal_block('views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') %}
      {{ drupal_block('views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') }}
    {% endif %}
    {% if facets %}
      {% for facet in facets %}
        {{ facet }}
      {% endfor %}
    {% endif %}
  </aside>
</div>
