@use "../../../external/include-media";

.block--image-with-description {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--v-space-2xs);

  h1, h2 {
    color: var(--brand-primary-dark);
  }

  .block-wrapper__second {
    padding-block: var(--v-space-s);
    padding-inline: var(--v-space-2xs);
  }

  &--horizontal {
    gap: 0;

    .block-wrapper__second {
      background-color: var(--brand-secondary);
    }

    @include include-media.media('>=md') {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--vertical {
    .block-wrapper__second {
      text-align: center;
    }

    .media--video video {
      inline-size: 100% !important;
      block-size: auto !important;
    }

    .media--image {
      inline-size: 100%;

      .field {
        inline-size: 100%;
      }

      img {
        inline-size: 100% !important;
        block-size: auto !important;
        object-fit: cover;
        max-block-size: 600px;
      }
    }
  }

  &--full {
    position: relative;

    h1, h2 {
      margin-block-end: var(--v-space-s);
    }

    * {
      color: var(--brand-primary-dark);
      text-shadow: 1px 1px 0 rgb(255 255 255 / 80%);
    }

    &.text-light {
      * {
        color: var(--color-white);
        text-shadow: 1px 1px 0 rgb(0 0 0 / 80%);
      }

      a {
        text-decoration-color: var(--color-white);
      }

      svg.ext {
        fill: var(--color-white);

        path {
          stroke: var(--color-white);
        }
      }

      h1, h2 {
        font-size: var(--font-size-heading-2xl);
        text-align: center;
      }

      p {
        font-size: var(--font-size-l);
      }

    }

    .block-wrapper__first {
      overflow: hidden;
      position: absolute;
      inset-inline: 0;
      inset-block: 0;

      img {
          position: absolute;
          inset-inline: 0;
          inset-block: 0;
          z-index: 1;
          object-fit: fill;
          inline-size: 100%;
        }
    }

    .block-wrapper__second {
      z-index: 2;
      inline-size: 100%;
      block-size: 100%;
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      place-items: center;
      padding: var(--v-space-s);
      min-block-size: 600px;
    }
  }
}
