{#
/**
 * @file
 * Default theme implementation for displaying a search server.
 *
 * Available variables:
 * - server: The server entity.
 * - server_info_table: The server info table.
 * - description: The server description.
 *
 * @see template_preprocess_search_api_server()
 *
 * @ingroup themeable
 */
#}
{% if description %}
  <p class="description">{{ description|nl2br }}</p>
{% endif %}
{{ server_info_table }}
