{#
/**
 * @file
 * Default theme implementation for displaying a search excerpt.
 *
 * Available variables:
 * - excerpt: The search excerpt.
 *
 * @ingroup themeable
 */
#}
<div class="field field--search-api-excerpt">
  {{ excerpt }}
</div>
