@use "../../00-base/layout/layout";

// Shared styles across carousels.
.splide {
  &__arrow--prev {
    inset-inline-start: -2em;
  }

  &__arrow--next {
    inset-inline-end: -2em;
  }

  // Vertically center images inside slides if they are <200px in height.
  &__slide {
    display: flex;
    align-items: center;
  }

  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--brand-primary);
  }
}

// Multi-page carousel styles. This appears with multi-page DH items.
.splide__wrapper {
  margin-block: var(--v-space-4xxs);

  @include layout.layout--full-width-grid;

  .splide.is-initialized {
    @include layout.layout--full-width-grid-item;
  }
}

.multipage-carousel {
  &.splide:not(.is-overflow) .splide__list {
    justify-content: center;
  }

  .splide__track {
    inline-size: 90%;
    margin-block: 0;
    margin-inline: auto;
  }

  &__navigation {
    inline-size: fit-content;
    margin-block: 0 var(--v-space-2xs);
    margin-inline: auto;

    .js-form-type-select {
      display: flex;
      align-items: baseline;

      select {
        inline-size: 250px;
      }
    }

    label {
      margin-inline-end: var(--v-space-5xs);
      flex: 1 0 auto;
    }
  }
}

// Media Asset Carousels.
.media-carousel {
  .media {
    margin-block: 0 var(--v-space-s);
    margin-inline: auto;
  }

  // stylelint-disable-next-line no-descending-specificity
  .splide__list {
    align-items: flex-start;
  }

  .splide__slide:not(.is-active) {
    block-size: 0;    // or 100vh, or something what fits your case
  }
}

.thumbnail-carousel {
  &.splide:not(.is-overflow) .splide__list {
    justify-content: center;
  }

  .splide__track {
    inline-size: 85%;
    margin-block: 0;
    margin-inline: auto;
  }

  img {
    max-block-size: 100px;
    inline-size: auto;
  }
}

// stylelint-disable-next-line
#cboxClose {
  color: var(--light-text-color);
  background: var(--brand-primary-dark);
  font-size: var(--font-size-base);
  font-weight: var(--text-bold);
  letter-spacing: var(--letter-spacing-label);
  border: none;
  padding: var(--v-space-5xs);
  inset-block: 0 unset;

  &:hover,
  &:active,
  &:focus {
    color: var(--light-text-color);
    background: var(--brand-primary-accent);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
  }

  &:disabled {
    color: var(--light-text-color);
    background: var(--brand-text-color);
  }
}

// stylelint-disable-next-line
#cboxTitle {
  color: var(--color-black);
}

.cboxPhoto {
  margin: var(--v-space-2xs);
}
