// Shared styles across carousels.
.splide {
  &__arrow--prev {
    left: -2em;
  }

  &__arrow--next {
    right: -2em;
  }

  // Vertically center images inside slides if they are <200px in height.
  &__slide {
    display: flex;
    align-items: center;
  }

  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--brand-primary);
  }
}

// Multi-page carousel styles. This appears with multi-page DH items. 
.splide__wrapper {
  @include layout--full-width-grid;
  margin-block: var(--v-space-4xxs);

  .splide.is-initialized {
    grid-column: 1 / -1;

    @include media('>=2xl') {
      grid-column: 2 / -2;
    }
  }
}

.multipage-carousel {
  &.splide:not(.is-overflow) .splide__list {
    justify-content: center;
  }

  .splide__track {
    width: 90%;
    margin: 0 auto;
  }

  &__navigation {
    width: fit-content;
    margin: 0 auto var(--v-space-2xs);

    .js-form-type-select {
      display: flex;
      align-items: baseline;

      select {
        width: 250px;
      }
    }

    label {
      margin-inline-end: var(--v-space-5xs);
      flex: 1 0 auto;
    }
  }
}

// Media Asset Carousels.
.media-carousel {
  .media {
    margin: 0 auto var(--v-space-s);
  }

  .splide__list {
    align-items: flex-start;
  }

  .splide__slide:not(.is-active) {
    height: 0;    // or 100vh, or something what fits your case
  }
}

.thumbnail-carousel {
  &.splide:not(.is-overflow) .splide__list {
    justify-content: center;
  }

  .splide__track {
    width: 85%;
    margin: 0 auto;
  }

  img {
    max-height: 100px;
    width: auto;
  }
}

// Images inside the media assets library have colorbox on.
// Colorbox CSS uses IDs. Thus an ID must be used here for override. 
#colorbox {
  top: 0 !important;
}

#cboxClose {
  color: var(--light-text-color);
  background: var(--brand-primary-dark);
  font-size: var(--font-size-base);
  font-weight: var(--text-bold);
  letter-spacing: var(--letter-spacing-label);
  border: none;
  padding: var(--v-space-5xs);
  top: 0;
  bottom: unset;

  &:hover,
  &:active,
  &:focus {
    color: var(--light-text-color);
    background: var(--brand-primary-accent);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
  }

  &:disabled {
    color: var(--light-text-color);
    background: var(--brand-text-color);
  }
}

#cboxTitle {
  color: var(--color-black);
}

.cboxPhoto {
  margin: var(--v-space-2xs);
}
