// Multi-page carousel styles. This appears with multi-page DH items. 
.splide__wrapper.multipage-carousel {
  @include layout--full-width-grid;
  margin-block: var(--v-space-4xxs);

  .splide.is-initialized {
    grid-column: 1 / -1;

    @include media('>=2xl') {
      grid-column: 2 / -2;
    }
  }

  .splide__arrow--prev {
    left: -2em;
  }

  .splide__arrow--next {
    right: -2em;
  }

  // Vertically center images inside slides if they are <200px in height.
  .splide__slide {
    display: flex;
    align-items: center;
  }

  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--brand-primary);
  }
}

.multipage-carousel__navigation {
  width: fit-content;
  margin: 0 auto var(--v-space-2xs);
}
