@use "../../../external/include-media";
@use "../../00-base/layout/layout";

// Grid setup for /categories.
.category-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: var(--layout-padding);
  gap: var(--v-space-3xs);

  @include include-media.media('>=sm') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include include-media.media('>=lg') {
    @include layout.layout--fourcol-grid;

    padding-inline: var(--layout-padding-m);
  }

  // Individual cards layout.
  .category-card .category-teaser a { // views-row
    display: flex;
    flex-direction: column;
  }
}

// Teaser displays for Categories taxonomy terms on /categories.
.category-teaser {
  // stylelint-disable-next-line no-descending-specificity
  a {
    text-decoration: none;

    // stylelint-disable-next-line no-descending-specificity
    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin-block-start: 0;
    color: var(--brand-primary-dark);
  }

  .field--name-name {
    background-color: var(--brand-secondary);
    font-size: var(--font-size-m);
    font-weight: var(--text-bold);
    text-align: center;
    padding: var(--v-space-4xxs);
  }
}

.category-teaser:not(:has(.media--image)) {
  a::before {
    content: '';
    display: block;
    inline-size: 100%;
    aspect-ratio: 3/2;
    background-image: url('../images/default.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
