// Styles for the local tasks tabs that logged in users see on node edit screens. /

.local-tasks {
  @include layout--full-width-grid;

  ul {
    @include layout--full-width-grid-item;
    padding-inline-start: 0;
  }

  li {
    margin-inline-end: var(--v-space-6xs);
    list-style-type: none;
    display: inline-block;
  }

  a {
    color: var(--brand-primary);
    font-family: var(--font-display-face);
    font-size: var(--font-size-2xs);
    font-weight: var(--text-bold);
    text-decoration: none;
    padding: var(--v-space-5xs);
    border: 1px solid var(--brand-primary);
    background-color: var(--color-white);
    transition: background-color 0.12s ease-in;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--brand-primary);
      color: var(--color-white);
    }

    &.is-active {
      background: var(--brand-light);
      font-weight: var(--text-bold);
      border: 1px solid var(--brand-light);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--brand-primary);
        color: var(--color-white);
      }
    }
  }
}


// Styles "add collection" button link.
.local-actions {
  @include layout--full-width-grid;

  ul {
    @include layout--full-width-grid-item;

    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }

    .button {
      display: inline-block;
      padding-block: var(--v-space-6xs);
      padding-inline: var(--v-space-3xs);
      margin-block: var(--v-space-4xxs);

      &::before {
        content: '+';
        display: inline-block;
        padding-inline-end: var(--v-space-5xs);
        font-size: var(--font-size-l);
      }
    }
  }
}
