.leaflet-warning {
  color: red;
}

/**
 * Styles for leaflet views AJAX popup.
 */
.leaflet-ajax-popup {
  height: 140px;
  width: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/spin.gif');
}

.leaflet-container {
  z-index: 1;
}

.leaflet-widget-input {
  &.readonly {
    color: gray;
  }}
