@use "../../00-base/layout/layout";

.form-item + .form-item {
  margin-block-start: 1rem;
}

.form-actions,
* + .form-wrapper {
  margin-block-start: 2rem;
}

details.form-wrapper {
  summary {
    font-weight: 700;
    font-size: 1.1em;
  }

  summary + div {
    margin-inline-start: 1.4ch;
  }
}

:has(> .user-register-form),
:has(> .user-login-form),
:has(> .user-pass) {
  @include layout.layout--full-width-grid;
}

.user-register-form,
.user-login-form,
.user-pass {
  @include layout.layout--full-width-grid-item;
}
