// Full content display for dictionary word nodes.
.page-node-type-dictionary-word {
  .full-node__content {
    .field--name-field-word-entry > .field__item:not(first-child) {
      margin-block-start: var(--v-space-s);
    }

    .field--name-field-alternate-spelling {
      background-color: var(--brand-primary-dark);
      position: relative;
      font-size: var(--font-size-heading-lg);
      color: var(--color-white);
      border-block-start: 0;
      padding-block: var(--v-space-2xs);
      padding-inline: var(--v-space-xs) var(--v-space-2xs);
      margin-block-end: var(--v-space-2xs);

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 71px;
        left: var(--v-space-xs);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--v-space-3xs) 0 var(--v-space-3xs) var(--v-space-2xs);
        border-color: transparent transparent transparent var(--brand-primary-dark);
        z-index: -1;
      }
    }

    .field--name-field-translation {
      .field__label {
        @include visually-hidden;
      }
    }
  }

}

// The individual word teaser display used on /dictionary.
.dictionary-word__teaser {
  &-heading {
    background-color: var(--brand-primary-dark);
    padding: var(--v-space-4xxs) var(--v-space-2xs);

    a {
      color: var(--color-white);
      font-size: var(--font-size-xl);
    }
  }

  // This is the word heading, also a link.
  &-word {
    display: flex;
    justify-content: space-between;
  }

  svg {
    fill: var(--color-white);
    height: var(--line-height-m);
    width: var(--line-height-2xs);
  }

  &-content {
    background-color: var(--brand-light-accent);
    padding: var(--v-space-4xxs) var(--v-space-2xs);
  }

  .field--name-field-translation,
  .field--name-field-recording  {
    .field__label {
      display: none;
    }
  }

  .field--name-field-translation  {
    font-weight: var(--text-bold);
    line-height: var(--line-height-xs);
    margin: var(--v-space-5xs) 0 var(--v-space-2xs);
  }

  .field--name-field-media-audio-file {
    margin: 0 0 var(--v-space-4xxs);
  }

  .field--name-field-contributor {
    display: flex;
    flex-wrap: wrap;
    gap: var(--v-space-6xs);
    width: 100%;

    .field__label {
      display: inline-block;
      font-size: var(--font-size-s);
      font-weight: var(--text-normal);

      &::after {
        content: ':';
        margin-inline-end: var(--v-space-5xs);
      }
    }
  }

  .dictionary-word__media {
    display: flex;
    flex-direction: column;
    gap: var(--v-space-5xs);

    > div {
      flex: 1;
    }

    @include media('>=xl') {
      flex-direction: row;
    }
  }
}