{#
/**
 * @file
 * Theme override to display a Community entity in browse view mode.
 *
 * Available variables:
 * - content: Rendered field output. Use {{ content }} to print all content,
 *   or print subsets such as {{ content.field_thumbnail_image }}.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_community()
 */
#}
{% set hook_class = theme_hook_original|replace({'_': '-'}) %}
<div{{ attributes.addClass(['community', hook_class]) }}>
  {{- content -}}
</div>
