/**
 * @file
 * Header Mobile Buttons.
 */

.mobile-buttons {
  margin-block-start: var(--v-space-5xs);
  margin-inline-start: auto;

  @media (width >= 30rem) {
    margin-block-start: var(--v-space-2xs);
  }

  @media (width >= 50rem) {
    margin-block-start: var(--v-space-4xl);
  }

  @media (width >= 75rem) {
    margin-block-start: var(--v-space-6xl);
  }
}

@media (width >= 75rem) {
  body:not(.is-always-mobile-nav) .mobile-buttons {
    display: none;
  }
}
