/**
 * @file
 * Nav Primary.
 *
 * This is a refactored version of the primary navigation styles, inspired by
 * Drupal's Olivero theme. It incorporates modern CSS practices and integrates
 * with the Mukurtu V4 theme variables.
 * To find menu grid placement, see _page.scss.
 */

@use "../../../external/include-media";
@use "nav-primary";
@use "nav-button-mobile";
@use "nav-primary-button";
@use "nav-primary-wide";
@use "header-navigation";
@use "account-menu";

:root {
  /* Width of slide out navigation */
  --mobile-nav-width: 500px;

  /* Header */
  --header-height-wide-when-fixed: 50px;

    /* Layout helpers. */
  --max-width: 1350px;
  --max-bg-color: 1570px; /* Width to which the background color extends to. */
  --content-left: 0px;
  --site-header-height-wide: 50px;
}

body.is-fixed {
    position: fixed;
    overflow: hidden;
    inline-size: 100%;
}


