/**
 * @file
 * Button which expands the navigation at wide viewport widths.
 */

@use "../../../external/include-media";

.wide-nav-expand {
  display: none;

  @include include-media.media('>=lg') {
    display: flex;
    visibility: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    inline-size: var(--content-left);
    block-size: var(--v-space-6xl);
    cursor: pointer;
    pointer-events: auto;
    color: var(--color-white);
    border: 0;

    /*
     * Using --brand-primary as --color--primary-50 is not defined in the
     * theme.
     */
    background-color: var(--brand-primary);

    &:focus {
      outline: solid 2px currentcolor;
      outline-offset: -4px;
    }
  }
}

body.is-always-mobile-nav .wide-nav-expand {
  @include include-media.media('>=lg') {
    visibility: hidden;
  }
}

body:not(.is-always-mobile-nav) .is-fixed .wide-nav-expand {
  @include include-media.media('>=lg') {
    visibility: visible;
  }
}

.wide-nav-expand__icon {
  position: relative;
  inline-size: var(--v-space-2xs);
  block-size: 21px;
  transition: opacity 0.2s;
  pointer-events: none;
  opacity: 0;
  transform-style: preserve-3d;

  & > span {
    display: block;
    block-size: 0;

    /* Intentionally not using CSS logical properties. */
    border-block-start: solid 3px currentcolor;

    &:nth-child(1) {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 0;
      transition: transform 0.2s;
      background-color: currentcolor;
    }

    &:nth-child(2) {
      position: absolute;
      inset-block-start: 9px;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 0;
      transition: opacity 0.2s;
      background-color: currentcolor;
    }

    &:nth-child(3) {
      position: absolute;
      inset-block: auto 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 0;
      transition: transform 0.2s;
      background-color: currentcolor;
    }
  }
}

.is-fixed .wide-nav-expand__icon {
  opacity: 1;
}

[aria-expanded="true"] .wide-nav-expand__icon {
  & > span:nth-child(1) {
    inset-block-start: 9px;
    transform: rotate(-45deg);
  }

  & > span:nth-child(2) {
    opacity: 0;
  }

  & > span:nth-child(3) {
    inset-block-start: 9px;
    transform: rotate(45deg);
  }
}
