{#
/**
 * @file term_merge_from.html.twig
 * Default theme implementation to present Term merge from data.
 *
 * This template is used when viewing Term merge from pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_term_merge_from()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('term_merge_from') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
