@use "../../../external/include-media";

// When the Grid button is selected on the Browse Digital Heritage page,
// a masonry grid layout is applied. Also seen on collections pages for
// collection items.
.grid:has(.views-row) {
  column-count: 1;

  @include include-media.media('>=lg') {
    column-count: 2;
    column-gap: var(--v-space-3xs);
  }

  @include include-media.media('>=xl') {
    column-gap: var(--v-space-2xs);
  }

  @include include-media.media('>=2xl') {
    column-count: 3;
  }
}
